﻿@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>JS Bin</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
</head>
<body>

    <div id="addMovieModal" class="modal is-active">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Add movie</p>
                <button class="delete close-button" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <div class="field">
                    <div class="control is-medium has-icons-left is-loading">
                        <input class="input is-medium" type="email" placeholder="Search movie">
                        <span class="icon is-medium is-left">
                            <i class="fas fa-search"></i>
                        </span>
                    </div>


                    <div class="field" style="padding-top: 1em">
                        <article class="media">
                            <figure class="media-left">
                                <p class="image is-256x256">
                                    <img src="https://m.media-amazon.com/images/M/MV5BNzQzOTk3OTAtNDQ0Zi00ZTVkLWI0MTEtMDllZjNkYzNjNTc4L2ltYWdlXkEyXkFqcGdeQXVyNjU0OTQ0OTY@@._V1_SX300.jpg">
                                </p>
                            </figure>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>The Matrix</strong><br><small>1999</small>
                                        <br><br>
                                        A computer hacker learns from mysterious rebels about the true nature of his reality and his role in the war against its controllers.
                                    </p>
                                </div>
                                <nav class="level is-mobile">
                                    <div class="level-left">
                                        <a class="level-item">
                                            <span class="icon is-small"><i class="fas fa-reply"></i></span>
                                        </a>
                                        <a class="level-item">
                                            <span class="icon is-small"><i class="fas fa-heart"></i></span>
                                        </a>
                                    </div>
                                </nav>
                            </div>
                            <div class="media-right">
                                <button class="delete"></button>
                            </div>
                        </article>
                    </div>
                </div>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-success">Add to favorites</button>
                <button class="button close-button">Cancel</button>
            </footer>
        </div>
    </div>




    <div class="container">








    </div>



    </div>


</body>
</html>