﻿
.rating fieldset, label {
    margin: 0;
    padding: 0;
}

.rating body {
    margin: 20px;
}

.rating h1 {
    font-size: 1.5em;
    margin: 10px;
}

.rating {
    border: none;
    padding-top: 20px;
    display: inline-table;
    padding-left: 40px;
}

.rating > input {
    display: none;
}

.rating > label:before {
    margin: 5px;
    font-size: 2em;
    font-family: 'FontAwesome';
    display: inline-block;
    content: "\2605";
}

.rating > .half:before {
    content: "\2605";
    position: absolute;
}

.rating > label {
    color: #ddd;
    float: right;
}

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label {
    color: #FFD700;
}
/* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label {
    color: #FFED85;
}
